/* Structural */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(214, 246, 221);
    background-size: cover;
}

#content {
    background-color: rgb(218, 196, 247);
    width:70%;
    padding: 5px;
    margin:auto;
    border-radius:5px;
    box-shadow: 5px 5px lightcyan;
}

header, main, footer {
    padding: 5px;
}

header, footer {
    background: mistyrose;
    color: rgb(244, 152, 156);
}
/* Navigation */


/* Typography */
h1 {
    color: rgb(244, 152, 156);
}
h2 {
    color: rgb(244, 152, 156);
}